@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.mb-medium {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}
[data-mobile-only] {
  display: none;
}

.container {
  width: clamp(90%, 90%, 110rem);
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vmin 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
header nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  position: relative;
}
header nav ul li a:focus {
  outline: none;
}
header nav ul li a::after {
  transition: width 0.3s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
}
header nav ul li a:hover::after {
  width: 100%;
}
header .mobile-nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 10vmin;
  right: 5vmin;
  width: 3rem;
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  border: none;
}

/* hero section */
.hero {
  height: 70vh;
  background: linear-gradient(#777, #777), url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
}
.hero__heading {
  width: clamp(300px, 50rem, 600px);
  padding: 2rem 2.5rem;
  margin-top: 5rem;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* introduction */
.introduction {
  padding: 12rem 0;
}
.introduction__cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.introduction__image {
  width: 100%;
  grid-column: 1/span 4;
  grid-row: 1/span 3;
}
.introduction__text {
  background-color: hsl(0, 0%, 100%);
  padding: 10rem;
  padding-bottom: 0;
  grid-column: 4/-1;
  grid-row: 2/-1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* creations */
.creations {
  padding: 10rem 0;
}
.creations__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
.creations__grid {
  padding: 2rem 0;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: space-between;
}
.creations__card {
  position: relative;
}
.creations__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.creations__overlay:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.creations__image {
  width: 100%;
  display: flex;
}
.creations__image source, .creations__image img {
  object-fit: cover;
}
.creations__title {
  width: 60%;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

/* footer */
footer {
  background-color: black;
  padding: 5rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer nav {
  padding: 2rem 0;
}
footer nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
footer nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.footer__right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__social-icons img:hover {
  transform: scale(1.1);
}
.footer__social-icons img:not(:last-child) {
  cursor: pointer;
  margin-right: 2rem;
}
.footer__copyright {
  display: block;
  font-size: 1.2rem;
  color: hsl(0, 0%, 55%);
  text-align: right;
  padding: 2rem 0;
}

/* media */
@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  header img, header button {
    z-index: 999;
  }
  header nav {
    background-color: black;
    position: fixed;
    inset: 0;
    z-index: 99;
    padding: 10vmin;
  }
  header nav ul {
    margin-top: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  header nav ul li a {
    font-size: 3.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
  }
  .nav[data-visibility=false] {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .nav[data-visibility=true] {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  .hero {
    height: 100vh;
  }
  .hero__heading {
    width: 90%;
  }
  .introduction {
    padding: 5rem 0;
  }
  .introduction__cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 4rem;
  }
  .introduction__image {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .introduction__text {
    width: 75%;
    text-align: center;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 2/-1;
    z-index: 2;
    justify-self: center;
  }
  .creations {
    padding: 3rem 0;
  }
  .creations__heading {
    padding: 2rem 0;
    display: block;
    text-align: center;
  }
  footer {
    padding: 5rem 0;
  }
  footer .container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  footer nav ul {
    flex-direction: column;
  }
  .footer__left-col {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .footer__right-col {
    flex-direction: column;
    align-items: center;
  }
  [data-desktop-only] {
    display: none;
  }
  [data-mobile-only] {
    display: inline-block;
  }
}
h1 {
  font-size: 5rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 200;
}

h2 {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
  font-weight: 200;
}

@supports (background-clip: text) {
  .introduction__heading {
    background-image: linear-gradient(to right, purple, red);
    background-clip: text;
    color: transparent;
  }
}

p {
  color: hsl(0, 0%, 55%);
  font-size: 1.4rem;
  line-height: 1.5;
}

.btn {
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border: 1px solid hsl(0, 0%, 55%);
  padding: 1rem 2rem;
}

.btn:hover,
.btn:active {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=style.css.map */
